footer {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      /* height: 120px; */
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
    .adress, .partners, .footer-contacts{
       width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and(max-width:850px){
        & {
            margin-bottom: 20px;
        }
      }
    }
    .footer-email {
      min-width:235px;
    }
    .social-media {
        display:flex;
        justify-content:center;
        margin-top:10px;
        i.fa {
            width: 30px;
            text-align: center;
            font-size:2em;
            margin: 0 10px;
        }
    }

    strong {
      display:block;
      width:100%;
      text-align:center;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .partners-wrap{
       display:flex;
       justify-content: center;
       .partner-logo {
          width:50px;
          height:50px;
          background-color:black;
          color:white;
          display:flex;
          align-items:center;
          justify-content:center;
          margin-right:10px;
          &:last-child{
            margin-right:0;
          }
       }
    }

  @media screen and (max-width:850px){
      &{
        // position:static;
        display:block;
        height:auto;
      }
  }

}
