footer {
	  position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
    &>div {
    	width: 33%;
    	text-align:center;
    }
    strong, span  {
    	display: block;
    }
    strong {
    	text-align:center;
    	margin-bottom: 10px;
    }

    .partners-wrap{
       display:flex;
       justify-content: center;
       .partner-logo {
       	  width:50px;
       	  height:50px;
       	  background-color:black;
       	  color:white;
       	  display:flex;
       	  align-items:center;
       	  justify-content:center;
       	  margin-right:10px;
       	  &:last-child{
       	  	margin-right:0;
       	  }
       }
    }

}

@media screen and (max-width:760px){
  footer{
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    &>div{
      width:100%;
      margin-bottom:20px;
    }
  }
}

.footer-contacts {
      &>span:last-child{
          display: flex;
          align-items: center;
          justify-content: center;
      }
      a{
        margin-right:10px;
        &:last-child{
          margin-right:0;
        }
      }
      a i {
        font-size:30px !important;
      }
  }