$firstColor: #ddffbf;
$firstColorDarken: darken($firstColor,10%);





@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(219, 219, 219, 0.4);
    // background-color: rgba(219, 219, 219, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(219, 219, 219, 0);
      // background-color: rgba(219, 219, 219, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(219, 219, 219, 0);
      // background-color: rgba(219, 219, 219, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(219, 219, 219, 0.4);
    // background-color: rgba(219, 219, 219, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(219, 219, 219, 0);
      // background-color: rgba(219, 219, 219, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(219, 219, 219, 0);
      // background-color: rgba(219, 219, 219, 0);
  }
}




.services-container {
    background-image: linear-gradient(to bottom,#f7ffea,darken(#f7ffea,10%));
    margin-top:50px;
    text-align:center;
    padding-top:50px;
      .service-item{
        margin-bottom:50px;
        // border:1px solid black;
          .flex-wrap {
            display:flex;
            height:100%;
            flex-direction:column;
            align-items:center;
            justify-content:space-between;
          }
            .logo-wrap {
              &:hover .round-logo-wrap {
                animation: pulse 2s infinite;  
              }
              &:hover p {
                color: #dbdbdb;
              }
              
              .round-logo-wrap {
                  height:80px;
                  width:80px;
                  // border:1px solid black;
                  position:relative;
                  border-radius: 50%;
                  display:inline-block;
                  margin-bottom:20px;
                  
                  
                  span {
                    color: #165900;
                    font-size:2em;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                  }
               }
            }
                
            p{
              font-size:2em;
              color: #165900;
              
            }
            .buttons-wrap {
                  margin-top:55px;
                  width:100%;
                  display:flex;
                  flex-direction:column;
                  .service-desc {
                    display:inline;
                    padding:10px 20px;
                    border-radius:5px;
                    margin:0 auto;
                    margin-bottom: 3px;
                    background-color: #165900;
                    color:white;
                    cursor:pointer;
                }
                    .toGallery {
                      display:inline;
                      padding:10px 30px;
                      border-radius:3px;
                      margin:0 auto;
                      background-color: #165900;
                      color:white;
                      cursor:pointer;
                }
            }
            
          
       }
    
}


.services-line{
  // margin-top:0;
  // background-image: linear-gradient(to bottom,darken(#f7ffea,10%),darken(#f7ffea,20%)) !important;
}


.services-footer {
  background-image: linear-gradient(to bottom,darken(#f7ffea,10%),darken(#f7ffea,20%)) !important;
}





























// .services-container {
//     background-image: linear-gradient(to bottom,$firstColor,$firstColorDarken);
//     margin-top:50px;
//     text-align:center;
//     padding-top:50px;
// }

// .service-item {
//   padding:35px 80px;
//   img{
//     margin-bottom:30px;
//     cursor:pointer;
//   }
//   p {
//       text-decoration:none;
//       color:black;
//       display:inline;
//       cursor:pointer;
//       &:hover {
//         border-bottom:2px solid black;
//       }  
      
//     }
// }
// .hidden-service-block {
//   background-color:white;
//   opacity:0.95;
//   height:50%;
//   width:30em;
//   overflow: hidden;
//   position:fixed;
//   top:50%;
//   left:50%;
//   transform:translate(-50%,-50%);
//   z-index:1;
//   display:none;
//       span {
//         font-size:20px;
//           display:block;
//           text-align: right;
//           width:100%;
//           cursor:pointer;
//            &:hover {
//           color:red;
//           }
//       }
//       .to-calc-button{
//         position:absolute;
//         bottom:20px;
//         right:10px;
//         padding:10px 20px;
//         text-align: center;
//         background-color:black;
//         border-radius:10px;
//         overflow: hidden;
//         color:white;
//         font-size:1em;

//       }
// }


// @media screen and (max-width: 500px) {
//   .hidden-service-block {
//   background-color:white;
//   opacity:0.95;
//   height:50%;
//   width:70%;
//   position:fixed;
//   top:50%;
//   left:50%;
//   transform:translate(-50%,-50%);
//   z-index:1;
//   display:none;
//       span {
//         font-size:20px;
//           display:block;
//           text-align: right;
//           width:100%;
//           cursor:pointer;
//            &:hover {
//           color:red;
//           }
//       }
//       .to-calc-button{
//         position:absolute;
//         bottom:20px;
//         right:10px;
//         padding:10px 20px;
//         text-align: center;
//         background-color:black;
//         border-radius:10px;
//         overflow: hidden;
//         color:white;
//         font-size:1em;

//       }
// }









// }

