.services {
	width:100%;
	// padding:20px 10px;
	margin-top: 50px;
	position: relative;
}
.pair-wrap { 
	display:flex;
	justify-content:center;
	@media screen and (max-width:1030px){
		&{
			flex-direction:column;
			align-items:center;
		}
	}
}
.pair-wrap2 { 
	display:flex;
	justify-content:center;
	@media screen and (max-width:1030px){
		&{
			flex-direction:column;
			align-items:center;
		}
	}
}
.first-two, .second-two{
	position:relative;
	display:inline-block;
	@media screen and(max-width:1030px){
		&{
		position: relative;
	    display: flex;
	    width: 100%;
	    justify-content: center;
	    margin: 0px 40px;
		}
	}
	@media screen and(max-width:660px){
		&{
			flex-direction:column;
			align-items:center;
		}
	}
}
.third-two {
	position: relative;
    display: flex;
    justify-content: center;
    // padding: 0px 180px;
 	width:100%;
 	margin-bottom:20px;
 	@media screen and(max-width:1030px){
		&{
			justify-content:center;
		}
	}
	@media screen and(max-width:660px){
		&{
			flex-direction:column;
			align-items:center;
		}
	}
}
.service-item {
	// display: flex;
 //    flex-direction: column;
 //    align-items: center;
 //    justify-content: center;
 	margin: 0px 40px;
    display:inline-block;
	color:#165900;
	height:350px;
	position:relative;
	width:230px;
	@media screen and (max-width:1270px){
		&{
			margin: 0px 20px;
		}
	}
	@media screen and (max-width:1110px){
		&{
			margin: 0px 10px;
		}
	}
	@media screen and(max-width:1030px){
		&{
	    margin: 0px 40px;
		}
	}
	.hover-wrap {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    width:100%;
	    position:absolute;
	    top:0;
	    &:hover div {
	    	background-color: #dbdbdb !important;
	    	border-color: #dbdbdb !important;
	    }
	    &:hover span{
	    	color: #dbdbdb ;
	    }
		div{
			width: 100px;
	    	height: 100px;
			border-radius:50px;
			background-color:white;
			position:relative;
			i {
				position:absolute;
				font-size:30px;
				left:50%;
				top:50%;
				transform:translate(-50%,-50%);
			}
			
		}
		span {
			// width: 70%;
	    	font-size: 3rem;
	    	// margin: 20px 0 30px;
	    	text-align: center;
		}
	}
	.buttons-wrap{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
		a{
		    background-color:#165900;
		    margin-bottom: 5px;
		    padding: 10px 20px;
		    color:white !important;
		    border-radius:3px;
		    text-transform:uppercase;
		    text-align: center;
			&:hover {
				background-color: #515151;
			}
		    &.service-desc{
		    	// min-width: 145px !important;
		    }
		    &.toGallery{
		    	// min-width: 195px !important;
		    }
		}
	}
}






.remodal {
	p{
		text-align: left;
	}
	ol, ul {
		text-align: left !important;
	    padding-left: 0;
	    list-style-position: inside;
	}
	 ul {
	     list-style-type: disc;
	     list-style-position: outside;
    	 padding-left: 30px;
	 }
}