
@import 'nav';
@import 'videoSection';
@import 'aboutUs';
@import 'services';
@import 'opinion';
@import 'footer';
@import 'gallery';

img[alt="Logo"] {
  width:80px;
  height:80px;
}
a, a:visited, a:active, a:link, a:hover {
  text-decoration:none;
  color:black;
}
p {
  font-style:normal !important;
}
.videobackground p {
  font-family: 'Merriweather', serif;
}

  .opinion-wrap h1, .services-container h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size:4em;
  margin:20px 0 !important;
}



// * {
//  border:1px solid red;
// }