@mixin v-align() {
    display: flex;
    align-items:center;
}
img[alt="Logo"] {
  width:100px;
  height:100px;
}

* {
  border:1px solid red;
}
nav {
  position:relative;
}
.phone {
  display:inline-block;
  position:absolute;
  top:50%;
  transform:translate(0, -50%);
      p {
        display:block;
        margin:10px;
      }
}
.social {
    display:inline-block;
    position:absolute;
    left:300px;
    top:50%;
    transform:translate(0, -50%);
}
.menu {
      display:inline-block;
      position:absolute;
      right:0;
      top:50%;
      transform:translate(0, -50%);
      ul {
        margin:0;
         li {
           display:inline;
           list-style:none;
         }
      }
}