
.testimonials {
  padding:-15px;
  background-image: linear-gradient(to bottom, #f1ffea, #cfffb7);
  padding-top:30px;
  padding-bottom:20px;
  h3{
    margin-top:30px;
    div {
        height: 2px;
		    width: 4em;
		    margin: 0 auto;
        margin-top: 5px;
        margin-bottom:30px;
		    background-color: black;
    }
  }
}
.testimonial{
  padding: 60px 10px;
  padding-bottom:20px;
  text-align:center;
  position: relative;
  margin: 0 15px;
}
.testimonial .content{
  padding: 45px 35px;
  font-weight: bold;
  text-transform:uppercase;
  color: rgb(20, 20, 20);
  position: relative;
  border: 3px solid #fff;
  border-top: 0px none;
}
.testimonial .content:before{
  content: "";
  border-top: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
}
.testimonial .content:after{
  content: "";
  border-top: 3px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
}
.testimonial .testimonial-title{
  font-size: 16px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  color:#e74c3c;
}
.testimonial .testimonial-title small{
  display: block;
  color:rgb(20, 20, 20);
  font-size: 12px;
  margin-top:10px;
}
.testimonial .description{
  font-size: 25px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #e74c3c;
}
.owl-theme .owl-controls .owl-page span{
  background: #fff;
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  .testimonial .content:before,
  .testimonial .content:after {
      width:43%;
  }
}
@media only screen and (max-width: 640px) {
  .testimonial:before{
      left:46%;
  }
  .testimonial .content{
      padding: 30px 35px;
  }
  .testimonial .description{
      font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial:before{
      font-size: 30px;
      top: 0;
  }
}

.owl-dots {
  display:flex;
  justify-content: center;
  &>div {
    display: inline-block;
    height:20px;
    width:20px;
    border-radius: 30px;
    margin:10px;
    background-color:transparent ;
    border:1px solid black;
  }
}
.owl-dot.active {
  background-color:#e74c3c !important;
    border:none;
}
